<h1>Crypto Keeper Announcements</h1>

<a href="/create_announcement">Create an announcement</a>

<div class="posts">
<% announcements.each do |announcement| %>
    <div class="post">
    <a href="/get_announcement/<%= announcement['id'] %>">
        <p>
            <%= announcement['title'] %>
        </p>
    </a>
    <img src=" <%= announcement['image_url'] %>" alt="">
    </div>

<% end %>
</div>