<h1 style="padding-bottom: 20px; border-bottom: 3px solid goldenrod; font-size: 50px; font-weight: 400;">Crypto Keeper News and Announcements</h1>

<% if logged_in? %>
    <% if current_user()['id'] == '2' %>% 
        <a style="font-size: 20px; color: grey;" href="/create_announcement">Create an announcement</a>
    <% end %> 
<% end %>

<div class="posts">
<% announcements.each do |announcement| %>
    <div class="post">
    <a href="/get_announcement/<%= announcement['id'] %>">
        <p class="ann_headings" style="color: goldenrod;">
            <%= announcement['title'] %>
        </p>
    </a>
    <img class ="ann_image" src=" <%= announcement['image_url'] %>" alt="">
    </div>

<% end %>
</div>