<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crypto Keeper</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" 
  integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body >

<div class="control_bar" style="margin-top: 50px;">
  <span class="navigate">
    <a href="/" style="padding: 0px 10px 0px 10px; font-size: 20px; font-weight: 300;">Home</a>
    <a href="/announcements" style="padding: 0px 10px 0px 10px; font-size: 20px; font-weight: 300;">Crypto News</a>
    <a href="/" style="padding: 0px 10px 0px 10px; font-size: 20px; font-weight: 300;">Forum</a>
  </span>
  <span class="log_control" style="color: goldenrod; padding: 5px; font-size:16px;">
    <% if logged_in? %>
      Logged in as <%= current_user()['user_name'] %>
    
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="logout-btn" style="margin: 10px 5px 0px 5px; padding: 3px 20px 3px 20px; background-color: goldenrod; font-size: 15px; border-radius: 5px; cursor: pointer;">Logout</button>
      </form>
    
      <% else %>
      <span class="login_signup">
        <a href="/signup" style="padding: 0px 10px 0px 5px; font-size: 18px; color: goldenrod;">Sign up</a>
        <a href="/login" style="padding: 0px 10px 0px 10px; font-size: 18px; color: goldenrod;">Login</a>
      </span>
      <% end %>
  </span>
</div>

  <%= yield %>

</body>
</html>
