<h1>Login to your CryptoKeeper account</h1>

 <form action="/session" method="post"> 
    <label for=""></label>
    <input type="text" name="email" placeholder="Email" style="text-align: center;">
    <br>
    <label for=""></label>
    <input type="password" name="password" placeholder="Password" style="text-align: center;">
    <br>
    <button>Login</button>
</form>