<h1 style="margin-top: 200px; color: goldenrod;">Login to your CryptoKeeper account</h1>

 <form action="/session" method="post"> 
    <label for=""></label>
    <input type="text" name="email" placeholder="Email" style="text-align: center; margin: 10pm 10px 0px 10px;">
    <br>
    <label for=""></label>
    <input type="password" name="password" placeholder="Password" style="text-align: center; margin: 10px;">
    <br>
    <button>Login</button>
</form>