<br>
<img class="logo" src="media/logo.png" alt="">

        <div class="login">
            <h4>Login to your CryptoKeeper account</h4>
            <form action="/session" method="post"> 
                <label for=""></label>
                <p>Email</p>
                <input type="text" name="email" placeholder="" style="text-align: left; margin: 0 0 0 0; padding: 2px 80px 2px 4px; background-color: #c6c6c6; border-radius: 5px;">
                <br>
                <label for=""></label>
                <p>Password</p>
                <input type="password" name="password" placeholder=" " style="text-align: left; margin: 0 0 0 0; padding: 2px 80px 2px 4px; background-color: #c6c6c6; border-radius: 5px;">
                <br>
                <button class="login-btn" style="margin-top: 30px; padding: 3px 92px 3px 92px; background-color: goldenrod; font-size: 15px; border-radius: 5px; cursor: pointer;">Login</button>
            </form>
        </div>



