<h1>Post a new announcement</h1>

<form action="/get_announcement" method="post">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Text</label>
    <input type="text" name="content">
    <label for="">Image URL</label>
    <input type="text" name="image_url" id="">
    <button>Post Announcement</button>
</form>