<h1>Post a new announcement</h1>

<form action="/get_announcement" method="post">
    <label for="" ></label>
    <input type="text" name="title" placeholder="Announcement Title" style="text-align: center; margin: 5px;">
    <br>
    <label for=""></label>
    <input type="text" name="image_url" placeholder="Image URL" style="text-align: center; margin: 10px;">
    <br>
    <label for=""></label>
    <input type="text" name="content" placeholder="Text Content" style="text-align: center; margin: 10px; padding: 200px;">
    <br>
    <button>Post Announcement</button>
</form>