<h1>Post a new announcement</h1>

<form action="/get_announcement" method="post">
    <label for="" ></label>
    <input type="text" name="title" placeholder="Announcement Title" style="text-align: center; margin: 5px;">
    <br>
    <label for=""></label>
    <input type="text" name="image_url" placeholder="Image URL" style="text-align: center; margin: 10px;">
    <br>
    <label for=""></label>
    <textarea name="content" placeholder="Text Content" id="" cols="80" rows="20" style="margin: 20px 0 0 0;"></textarea>
    <br>
    <button class="login-btn" style="margin-top: 30px; padding: 3px 60px 3px 60px; background-color: goldenrod; font-size: 15px; border-radius: 5px; cursor: pointer;">Post Announcement</button>
</form>