<br>
<img class="logo" src="media/logo.png" alt="">

<div class='login'>
    <h4>Create your CryptoKeeper account</h4>
    <form action="/create_user" method="post">
        <label for=""></label>
        <p>Email</p>
        <input style="text-align: left; margin: 0 0 0 0; padding: 2px 80px 2px 4px; background-color: #c6c6c6; border-radius: 5px;" type="text" name="email">
        <br>
        <label for=""></label>
        <p>Username</p>
        <input style="text-align: left; margin: 0 0 0 0; padding: 2px 80px 2px 4px; background-color: #c6c6c6; border-radius: 5px;" type="text" name="user_name">
        <br>
        <label for=""></label>
        <p>Password</p>
        <input style="text-align: left; margin: 0 0 0 0; padding: 2px 80px 2px 4px; background-color: #c6c6c6; border-radius: 5px;" type="password" name="password_digest">
        <br>
        <button style="margin-top: 30px; padding: 3px 58px 3px 58px; background-color: goldenrod; font-size: 15px; border-radius: 5px;">Create account</button>
    </form>
</div>