

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 90%;
    text-align: center;
    font-size: 14px;
    background-color: #001a33;
}

h1 {
    color: white;
}

.variables {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1.5fr 1fr 1fr 1fr 1fr 1.25fr 1.25fr 1fr;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    border-bottom: 3px solid grey;
    color: goldenrod;
    /* font-size: 15px; */
}

.crypto {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1.5fr 1fr 1fr 1fr 1fr 1.25fr 1.25fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 5px; */
    /* padding: 5px 0px 5px 0px; */
    border-bottom: 1px solid grey;
    color: white
}

.index {
    font-weight: bold;
    border-right: 1px solid grey;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

img {
    width: 80%;
    text-align: center;
    padding-left: 25%;
    /* padding-bottom: 5px; */
}

.logo {
    width: 30%;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: goldenrod;
    /* font-weight: bold; */
    transition: font-weight 2ms linear;
}

div {
    font-weight: bold;
    display: grid;
    padding: 10px;
}

.log-control {
    color: grey;
}

div.control_bar {
    padding: 0px;
    margin: -10px 0px 0px 0px;
}

.chart_container {
    display: inline-flex;
    margin: 0;
    padding-top: 20px;
    gap: 5%;   
    border-top: 2px solid goldenrod;
}

.chart_values {
    max-height: 200px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.chart_canvas {
    width: 1000px;
    height: 800px;
}

.ann_image {
    padding: 0px;
    display: block;
    margin: auto;
    width: 700px;
    padding-bottom: 50px;
    border-bottom: 2px solid grey;
}

.ann_content {
    color: white;
    margin: 50px;
    /* box-shadow: 1px 1px 2px white, 0 0 25px grey, 0 0 5px darkblue; */
}

p.ann_headings:hover {
    color: white !important;
}

p.ann_headings {
    font-size: 30px;
    font-weight: 200;
}

a.login_signup:hover {
    color: white !important;
}
