

body {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 80%;
    text-align: center;
}

span {
    border: 1px solid black;
}

.variables {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    border: 1px 1px 0.5px 1px solid black;
}

.crypto {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1.25fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    border: 0.25px solid black;
}

img {
    width: 100%;
    text-align: center;
    padding-left: 25%;
    padding-top: 5%;
}